:root {
  --red: rgb(241, 131, 131);
  --orange: rgb(255, 215, 141);
  --yellow:rgb(255, 245, 138);
  --green: rgb(163, 253, 163);
  --purple: rgb(171, 160, 255);
  --pink: rgb(255, 167, 255);
}

h2{
  color: black;
}

h3{
  color: rgb(95, 74, 74);
}

.mood-button-container {
  display: inline-grid;
  gap: 50px;
}
.card-happy{
  box-shadow: 0 20px 20px 0 rgb(243, 213, 19);
}

.card-happy:hover{
  background-color: rgb(255, 204, 0);
}

.card-sad{
  box-shadow: 0 20px 20px 0 rgb(6, 142, 201);
}

.card-sad:hover{
  background-color: rgb(38, 17, 193);
}

.card-angry{
  box-shadow: 0 20px 20px 0 rgb(201, 6, 6);
}

.card-angry:hover{
  background-color: rgb(157, 18, 18);
}

.card-romantic{
  box-shadow: 0 20px 20px 0 rgb(198, 6, 201);
}

.card-romantic:hover{
  background-color: rgb(93, 14, 93);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #efa365aa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.navBar{
  position: fixed;
  top: 15px;
  left:0;
  width: 92%;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  padding: 20px;
  margin-left: 8px;
  background: white;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
  animation: glowShift 15s infinite linear;
  border-radius: 50px;
  opacity: 0.8;
}

@keyframes glowShift{
  0% {box-shadow: 0 0 15px var(--red)}
  15%{box-shadow: 0 0 15px var(--orange)}
  30%{box-shadow: 0 0 15px var(--yellow)}
  45%{box-shadow: 0 0 15px var(--green)}
  60%{box-shadow: 0 0 15px var(--purple)}
  75%{box-shadow: 0 0 15px var(--pink)}
  100%{box-shadow: 0 0 15px var(--red)}
}

.navBar a{
  color: black;
  font-family: "QuickSand", sans-serif;
  font-size: 18px;
  padding: 10px 20px;
  /* background: var(--green); */
  border-radius: 8px;
  transition: all 0.4s ease;
}

.navBar a:hover{
  color: black;
  font-family: "QuickSand", sans-serif;
  font-weight: 600px;
  font-size: 22px;
  background: radial-gradient(circle, var(--red) 0%, var(--orange) 10%, var(--yellow), var(--green) 45%, var(--purple), var(--pink));
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-container h2 {
  font-family: "QuickSand", sans-serif;
  color: #333;
  padding: 20px;
}

.login-container label {
  font-family: "QuickSand", sans-serif;
  font-size: 1.2em;
  color: #333;
  font-weight: 800;
}

.login-container input {
  padding: 5px;
  border-radius: 5px;
  margin-left: 10px;
  background-color: var(--yellow);
  border: 1px solid #333;
  font-family: "QuickSand", sans-serif;
  font-size: 1em;
  color: #333;
  font-weight: 500;
}

.login-container button {
  background-color: var(--orange);
  color: #333;
  border: 1px solid #333;
  font-family: "QuickSand", sans-serif;
  font-weight: 800;
}
.login-container button:hover {
  box-shadow: 0 0.25em 0.25em -0.1em rgba(0, 0, 0, 0.2);
  transform: translateY(-0.25em);
}

.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.register-container h2 {
  font-family: "QuickSand", sans-serif;
  color: #333;
  padding: 20px;
}

.register-container label {
  font-family: "QuickSand", sans-serif;
  font-size: 1.2em;
  color: #333;
  font-weight: 800;
}

.register-container input {
  padding: 5px;
  border-radius: 5px;
  margin-left: 10px;
  background-color: var(--purple);
  border: 1px solid #333;
  font-family: "QuickSand", sans-serif;
  font-size: 1em;
  color: #333;
  font-weight: 500;
}

.register-container button {
  background-color: var(--green);
  color: #333;
  border: 1px solid #333;
  font-family: "QuickSand", sans-serif;
  font-weight: 800;
}
.register-container button:hover {
  box-shadow: 0 0.25em 0.25em -0.1em rgba(0, 0, 0, 0.2);
  transform: translateY(-0.25em);
}

.chart-container{
  background: linear-gradient(#f5e9d3, white, #f5e9d3);
  height: 600px;
  width: 500px;
  padding: 100px;
  border-radius: 20%;
  font-family: "QuickSand", sans-serif;
  font-size: x-large;
  text-decoration: underline;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
}

.chart-container :hover{
  transform: scale(1.05);
}