h2{
  color: black;
}

h3{
  color: rgb(95, 74, 74);
}

.mood-button-container {
  display: grid;
  gap: 50px;
}
.card-happy{
  box-shadow: 0 20px 20px 0 rgb(243, 213, 19);
}

.card-happy:hover{
  background-color: rgb(255, 204, 0);
}

.card-sad{
  box-shadow: 0 20px 20px 0 rgb(6, 142, 201);
}

.card-sad:hover{
  background-color: rgb(38, 17, 193);
}

.card-angry{
  box-shadow: 0 20px 20px 0 rgb(201, 6, 6);
}

.card-angry:hover{
  background-color: rgb(157, 18, 18);
}

.card-romantic{
  box-shadow: 0 20px 20px 0 rgb(198, 6, 201);
}

.card-romantic:hover{
  background-color: rgb(93, 14, 93);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #efa365aa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.navBar{
  position: fixed;
  top: 15px;
  left:0;
  width: 97%;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  padding: 20px;
  margin-left: 8px;
  background: linear-gradient(#f5e9d3, white, #f5e9d3);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
  animation: glowShift 15s infinite linear;
}

@keyframes glowShift{
  0% {box-shadow: 0 0 15px red}
  15%{box-shadow: 0 0 15px orange}
  30%{box-shadow: 0 0 15px yellow}
  45%{box-shadow: 0 0 15px green}
  60%{box-shadow: 0 0 15px blue}
  75%{box-shadow: 0 0 15px purple}
  100%{box-shadow: 0 0 15px #e36d81;}
}

.navBar a{
  color: black;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
  padding: 10px 20px;
  background: wheat;
  border-radius: 8px;
  transition: all 0.4s ease;
}

.navBar a:hover{
  color: black;
  font-weight: 600px;
  font-size: 22px;
  background: linear-gradient(red, orange, yellow, green, blue, purple);
}
