:root {
  --red: rgb(241, 131, 131);
  --orange: rgb(255, 215, 141);
  --darkorange: rgb(255, 195, 65);
  --yellow:rgb(255, 245, 138);
  --darkyellow: rgb(255, 149, 5);
  --goldenyellow: rgb(255, 182, 39);
  --green: rgb(163, 253, 163);
  --purple: rgb(171, 160, 255);
  --pink: rgb(255, 167, 255);
  --magenta: rgb(224, 44, 155);
  --darkmagenta: rgb(139, 0, 139);
  --blue: rgb(0, 0, 0);
  --sadblue: rgb(49, 119, 199);
  --lightblue: rgb(173, 216, 230);
  --darkblue: rgb(0, 65, 139);
  --darkred: rgb(139, 0, 0);
  --reddish: rgb(255, 99, 71);
}

h2{
  color: black;
  /* margin-top: 200px; */
  font-family: "QuickSand", sans-serif;
}

h3{
  color: rgb(95, 74, 74);
  font-family: "QuickSand", sans-serif;
}

.mood-button-container {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-family: "QuickSand", sans-serif;
  font-size: 1.35em;
  padding: 15px;
}

.card-happy{
  box-shadow: 0 20px 20px 0 rgb(243, 213, 19);
  background-color: #efebeb;
}

.card-happy:hover{
  background-color: rgb(255, 204, 0);
}

.card-happy:hover strong{
  visibility: hidden;
  position: relative;
}
.card-happy:hover strong::before{
  content: "😊";
  visibility: visible;
  position: absolute;
  left: 0;
  top: 0;
  transform: scale(2.5);
  transition: 1.0 s ease-in-out;
}

.card-sad{
  box-shadow: 0 20px 20px 0 rgb(6, 142, 201);
  background-color: #efebeb;
}

.card-sad:hover{
  background-color: rgb(38, 17, 193);
}

.card-sad:hover strong{
  visibility: hidden;
  position: relative;
}
.card-sad:hover strong::before{
  content: "😢";
  visibility: visible;
  position: absolute;
  left: 0;
  top: 0;
  transform: scale(2.5);
  transition: 1.0 s ease-in-out;
}

.card-angry{
  box-shadow: 0 20px 20px 0 rgb(201, 6, 6);
  background-color: #efebeb;
}

.card-angry:hover{
  background-color: rgb(157, 18, 18);
}

.card-angry:hover strong{
  visibility: hidden;
  position: relative;
}
.card-angry:hover strong::before{
  content: "😡";
  visibility: visible;
  position: absolute;
  left: 0;
  top: 0;
  transform: scale(2.5);
  transition: 1.0 s ease-in-out;
}

.card-romantic{
  box-shadow: 0 20px 20px 0 rgb(198, 6, 201);
  background-color: #efebeb;
}

.card-romantic:hover{
  background-color: rgb(93, 14, 93);
}

.card-romantic:hover strong{
  visibility: hidden;
  position: relative;
}
.card-romantic:hover strong::before{
  content: "😍";
  visibility: visible;
  position: absolute;
  left: 0;
  top: 0;
  transform: scale(2.5);
  transition: 1.0 s ease-in-out;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #efa365aa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.navBar{
  position: fixed;
  top: 200px;
  left:0;
  width: 97%;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  padding: 20px;
  margin-left: 8px;
  background: white;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
  animation: glowShift 15s infinite linear;
  border-radius: 50px;
  opacity: 0.8;
  z-index: 3000;
}

@keyframes glowShift{
  0% {box-shadow: 0 0 15px var(--red)}
  15%{box-shadow: 0 0 15px var(--orange)}
  30%{box-shadow: 0 0 15px var(--yellow)}
  45%{box-shadow: 0 0 15px var(--green)}
  60%{box-shadow: 0 0 15px var(--purple)}
  75%{box-shadow: 0 0 15px var(--pink)}
  100%{box-shadow: 0 0 15px var(--red)}
}

.navBar a{
  color: black;
  font-family: "QuickSand", sans-serif;
  font-size: 18px;
  padding: 10px 20px;
  /* background: var(--green); */
  border-radius: 8px;
  transition: all 0.4s ease;
}

.navBar a:hover{
  color: black;
  font-family: "QuickSand", sans-serif;
  font-weight: 600px;
  font-size: 22px;
  background: radial-gradient(circle, var(--red) 0%, var(--orange) 10%, var(--yellow), var(--green) 45%, var(--purple), var(--pink));
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-container h2 {
  font-family: "QuickSand", sans-serif;
  color: #333;
  padding: 20px;
}

.login-container label {
  font-family: "QuickSand", sans-serif;
  font-size: 1.2em;
  color: #333;
  font-weight: 800;
}

.login-container input {
  padding: 5px;
  border-radius: 5px;
  margin-left: 10px;
  background-color: var(--yellow);
  border: 1px solid #333;
  font-family: "QuickSand", sans-serif;
  font-size: 1em;
  color: #333;
  font-weight: 500;
}

.login-container button {
  background-color: var(--orange);
  color: #333;
  border: 1px solid #333;
  font-family: "QuickSand", sans-serif;
  font-weight: 800;
}
.login-container button:hover {
  box-shadow: 0 0.25em 0.25em -0.1em rgba(0, 0, 0, 0.2);
  transform: translateY(-0.25em);
}

.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.register-container h2 {
  font-family: "QuickSand", sans-serif;
  color: #333;
  padding: 20px;
}

.register-container label {
  font-family: "QuickSand", sans-serif;
  font-size: 1.2em;
  color: #333;
  font-weight: 800;
}

.register-container input {
  padding: 5px;
  border-radius: 5px;
  margin-left: 10px;
  background-color: var(--purple);
  border: 1px solid #333;
  font-family: "QuickSand", sans-serif;
  font-size: 1em;
  color: #333;
  font-weight: 500;
}

.register-container button {
  background-color: var(--green);
  color: #333;
  border: 1px solid #333;
  font-family: "QuickSand", sans-serif;
  font-weight: 800;
}
.register-container button:hover {
  box-shadow: 0 0.25em 0.25em -0.1em rgba(0, 0, 0, 0.2);
  transform: translateY(-0.25em);
}

.chart-container{
  background: linear-gradient(#f5e9d3, white, #f5e9d3);
  position: relative;
  height: 600px;
  width: 500px;
  border-radius: 20%;
  font-family: "QuickSand", sans-serif;
  font-size: x-large;
  text-decoration: underline;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
  margin-top: 50%;
}

.chart-container :hover{
  transform: scale(1.05);
}

.title-header{
  position: fixed;
  top:  0;
  font-family: "Modak";
  font-size: 125px;
  color: white;
  text-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: flex-start;
  left: 40px;
  z-index: 2000;
  padding-top: 70px;
  margin: 0;
}

.mood-recipes {
  text-align: center;
  margin-top: 250px;
}

.recipe-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  justify-items: center;
  align-content: space-evenly;
  width: 100%;
  gap: 20px;
}

.recipe-card-happy {
  padding: 20px;
  font-family: "QuickSand", sans-serif;
  font-size: 1.2rem;
  background-color: var(--yellow);
  border-radius: 10px;
  color: #333;
  width: auto;
  max-width: 400px;
}

.recipe-card-happy:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 30px rgba(59, 57, 57, 0.4);
  border-radius: 10px;
}

.recipe-card-happy h3 {
  font-family: "Modak", cursive;
  font-size: 2.5rem;
  color: var(--goldenyellow);
  
}

.recipe-card-happy button {
  background-color: var(--goldenyellow);
  color: #333;
}
.recipe-card-happy button:hover {
  background-color: var(--darkorange);
}

.recipe-card-angry {
  padding: 20px;
  font-family: "QuickSand", sans-serif;
  font-size: 1.2rem;
  background-color: var(--red);
  border-radius: 10px;
  color: #333;
  width: auto;
  max-width: 400px;
}

.recipe-card-angry:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 30px rgba(59, 57, 57, 0.4);
  border-radius: 10px;
}

.recipe-card-angry h3 {
  font-family: "Modak", cursive;
  font-size: 2.5rem;
  color: var(--darkred);
  text-shadow: 2px 2px 4px rgba(46, 43, 43, 0.5);
}

.recipe-card-angry button {
  background-color: var(--darkred);
  color: whitesmoke;
}
.recipe-card-angry button:hover {
  background-color: var(--reddish);
}

.recipe-card-sad {
  padding: 20px;
  font-family: "QuickSand", sans-serif;
  font-size: 1.2rem;
  background-color: var(--lightblue);
  border-radius: 10px;
  color: #333;
  width: auto;
  max-width: 400px;
}

.recipe-card-sad:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 30px rgba(59, 57, 57, 0.4);
  border-radius: 10px;
}

.recipe-card-sad h3 {
  font-family: "Modak", cursive;
  font-size: 2.5rem;
  color: var(--sadblue);
}

.recipe-card-sad button {
  background-color: var(--sadblue);
  color: whitesmoke;
}
.recipe-card-sad button:hover {
  background-color: var(--darkblue);
}

.recipe-card-romantic {
  padding: 20px;
  font-family: "QuickSand", sans-serif;
  font-size: 1.2rem;
  background-color: var(--pink);
  border-radius: 10px;
  color: #333;
  width: auto;
  max-width: 400px;
}

.recipe-card-romantic:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 30px rgba(59, 57, 57, 0.4);
  border-radius: 10px;
}

.recipe-card-romantic h3 {
  font-family: "Modak", cursive;
  font-size: 2.5rem;
  color: var(--magenta);
}

.recipe-card-romantic button {
  background-color: var(--magenta);
  color: whitesmoke;
}
.recipe-card-romantic button:hover {
  background-color: var(--darkmagenta);
}

@keyframes floatCard {
  0% {
    transform: translateY(0px);
    box-shadow: 0 10px 15px rgba(80, 78, 78, 0.3);
  }
  50% {
    transform: translateY(-5px);
    box-shadow: 0 15px 20px rgba(85, 82, 82, 0.35);
  }
  100% {
    transform: translateY(0px);
    box-shadow: 0 10px 15px rgba(83, 81, 81, 0.3);
  }
}

.recipe-title-happy p {
  color: var(--yellow);
  font-family: "Modak", cursive;
  font-size: 3rem; 
  text-shadow: 0 5px 20px var(--red);
  margin-top: -20px; 
}
.recipe-title-sad p {
  color: var(--blue);
  font-family: "Modak", cursive;
  font-size: 3rem; 
  text-shadow: 0 5px 20px deepskyblue;
  margin-top: -20px; 
}
.recipe-title-angry p {
  color: darkred;
  font-family: "Modak", cursive;
  font-size: 3rem; 
  text-shadow: 0 5px 20px var(--magenta);
  margin-top: -20px; 
}
.recipe-title-romantic p {
  color: var(--magenta);
  font-family: "Modak", cursive;
  font-size: 3rem; 
  text-shadow: 0 5px 20px var(--pink);
  margin-top: -20px;
}

.single-recipe-page {
  margin-top: 300px;
}

.single-recipe-page button:hover {
  box-shadow: 0 0.25em 0.25em -0.1em rgba(0, 0, 0, 0.2);
  transform: translateY(-0.25em);
}

.single-recipe-happy {
  font-family: "QuickSand", sans-serif;
  font-size: 1.2rem;
  color: #333;
  background-color: var(--yellow);
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 20px;
  margin-top: 20px;
}

.single-recipe-happy li {
  list-style: none;
  text-align: center;
  padding-right: 40px;
}

.single-recipe-sad {
  font-family: "QuickSand", sans-serif;
  font-size: 1.2rem;
  color: #333;
  background-color: var(--lightblue);
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 20px;
  margin-top: 20px;
}

.single-recipe-sad li {
  list-style: none;
  text-align: center;
  padding-right: 40px;
}

.single-recipe-angry {
  font-family: "QuickSand", sans-serif;
  font-size: 1.2rem;
  color: #333;
  background-color: var(--red);
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 20px;
  margin-top: 20px;
}

.single-recipe-angry li {
  list-style: none;
  text-align: center;
  padding-right: 40px;
}

.single-recipe-romantic {
  font-family: "QuickSand", sans-serif;
  font-size: 1.2rem;
  color: #333;
  background-color: var(--pink);
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 20px;
  margin-top: 20px;
}

.single-recipe-romantic li {
  list-style: none;
  text-align: center;
  padding-right: 40px;
}

.cooking-video-banner{
  position:relative;
  width: 100%;
  height: 15vh;
  overflow: hidden;
  z-index: -1;
  top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 50px;
}

.cooking-video-banner iframe{
  position: absolute;
  border: 2px solid black;
  top: 50%;
  left: 50%;
  width: 177.77vh;
  height: 80vh;
  transform: translate(-50%, -50%);
  border: none; 
  pointer-events: none;
}

.mood-video-background{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
}

.mood-video-background iframe {
  width: 100vw;
  height: 56.25vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

img {
  width: 200px;
  height: auto;
}